._*
DiscoveryYellow.xaml

Ikarus/Ikarus/.vs/Ikarus/v14/ (WIN-EHGOMFTU333s in Konflikt stehende Kopie 2016-11-24).suo

Ikarus/Ikarus/.vs/Ikarus/v14/ (WIN-EHGOMFTU333s in Konflikt stehende Kopie 2016-11-24).suo

Ikarus/Ikarus/.vs/Ikarus/v14/ (MacBookProHJP's conflicted copy 2016-12-08).suo

Ikarus/Ikarus/.vs/Ikarus/v14/ (WIN-EHGOMFTU333s in Konflikt stehende Kopie 2016-11-21).suo
