*.pdf
*.psd
*.dds

.DS_Store

Ikarus/Images/.DS_Store

Ikarus/.DS_Store

*.config
_DelSyncFiles*/
Blend.Interactivity.Wpf.1.0.1340.0*/
DiscoveryYellow.xaml

.vs*/
v14*/

Backup*/

.com.greenworldsoft.syncfolderspro

Log.png

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
